<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SYoga</title>
    <link rel="shortcut icon" href="../imgs/logo.svg" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <!-- header below -->
    <div class="head-logo"><img class="w-100" src="../imgs/Syoga.svg" /></div>
    <input type="checkbox" id="active" />
    <label for="active" class="menu-btn">
      <span class="material-symbols-outlined"> menu </span>
    </label>
    <div class="wrapper">
      <ul>
        <li><a class="active" href="./Home.html">Home</a></li>
        <li><a href="./Learn.html">Training</a></li>
        <!-- <li><a href="./Seminar">Seminars</a></li>
        <li><a href="./Products.html">Products</a></li> -->
        <li><a href="./Contact.html">Contact Us</a></li>
      </ul>
    </div>
    <!-- header above -->

    <!-- home content below -->
    <div class="home-hero position-relative">
      <img
        class="hero-img"
        style="width: 100%"
        src="../imgs/mobile-hero.jpeg"
      />
      <video
        id="background-video"
        autoplay
        loop
        muted
        poster="https://assets.codepen.io/6093409/river.jpg"
      >
        <source src="../imgs/hero-vedio.mp4" type="video/mp4" />
      </video>
      <div class="hero-text">
        <h1 class="m-0">&nbsp;Yoga IS...</h1>
        <h1>
          &nbsp;
          <div class="message">
            <div class="word1">Confidance</div>
            <div class="word2">wholeness</div>
            <div class="word3">meditation</div>
          </div>
        </h1>
      </div>
    </div>

    <!-- intro -->
    <div class="intro-div text-center my-3">
      <h1>
        With<span class="first-text"> Satrangi Yoga</span>,<br />
        Say YES to Yoga!!
      </h1>
      <h5 class="w-75 mx-auto">
        Engaging and convenient online yoga classes. Thousands of high-quality
        yoga classes to meet you where you are, on your schedule.
      </h5>
    </div>

    <!-- features -->
    <div class="row reverce-row">
      <div class="col-lg-6 col-md-6 col-sm-12 pt-4">
        <div class="w-75 mx-auto position-relative">
          <h3>Looking for something in your favour??</h3>
          <h5 class="first-text">Solution is here...</h5>
          <br />
          <ul class="fs-5" id="image">
            <li>
              <span> Flexible Timing Batch And Classes Recording </span>
            </li>
            <li>
              <span> Instructor One-To-One Conciliation </span>
            </li>
            <li>
              <span> Habit Building Practices and Habit Tracking </span>
            </li>
            <li>
              <span> Competition And Seminar For Awareness </span>
            </li>
            <li>
              <span> Yoga, Meditation, Mentoring & manymore...</span>
            </li>
          </ul>
          <img class="w-75 mx-5" src="../imgs/hr.svg" alt="" />
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 text-center">
        <img class="w-75" src="../imgs/hero-img.jpg" />
      </div>
    </div>

    <!-- rating and calculation -->
    <div class="row mx-3">
      <div class="col-lg-3 col-md-6 col-sm-12 pb-5">
        <div
          class="yog-shadow text-center h-100"
          style="background-color: #fffcf9"
        >
          <img class="mb-4" src="../imgs/star.png" />
          <h1>5/5</h1>
          <h3>Google's Rating</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 pb-5">
        <div
          class="yog-shadow text-center h-100"
          style="background-color: #fbfeff"
        >
          <img class="mb-4" src="../imgs/schedule.png" />
          <h1>6+</h1>
          <h3>Year's of Experiacne</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 pb-5">
        <div
          class="yog-shadow text-center h-100"
          style="background-color: #fbf8ff"
        >
          <img class="mb-4" src="../imgs/team.png" />
          <h1>12Lakhs+</h1>
          <h3>Community Member</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 pb-5">
        <div
          class="yog-shadow text-center h-100"
          style="background-color: #f7fffc"
        >
          <img class="mb-4" src="../imgs/presentation.png" />
          <h1>400+</h1>
          <h3>Seminar Performed</h3>
        </div>
      </div>
    </div>

    <!-- creators saying -->
    <div class="row my-5 mx-3">
      <div class="col-lg-4 col-md-4 col-sm-12 text-center">
        <img class="boss-avatar" src="../imgs/p1.jpg" />
      </div>
      <div class="col-lg-8 col-md-8 col-sm-12">
        <div class="position-relative">
          <div class="boss-div-center">
            <h2>
              “Yoga is not about touching your toes. It is what you learn on the
              way down.”
            </h2>
            <h5 class="first-text">- Jigar Gor</h5>
            <p class="text-secondary">&ensp;&nbsp; Founder, Yoga Specialist</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row my-5 mx-3 reverce-row">
      <div class="col-lg-8 col-md-8 col-sm-12">
        <div class="position-relative">
          <div class="boss-div-center">
            <h2>
              “Yoga is the journey of the self, through the self, to the self.”
            </h2>
            <h5 class="first-text">- Niti Mohan</h5>
            <p class="text-secondary">
              &ensp;&nbsp;Therapist, communication specialist, Therapist
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 text-center">
        <img class="boss-avatar" src="../imgs/p2.jpg" />
      </div>
    </div>
    <div class="row my-5 mx-3">
      <div class="col-lg-4 col-md-4 col-sm-12 text-center">
        <img class="boss-avatar" src="../imgs/p3.jpg" />
      </div>
      <div class="col-lg-8 col-md-8 col-sm-12">
        <div class="position-relative">
          <div class="boss-div-center">
            <h2>
              "It's not about being good at something. It's about being good to
              yourself."
            </h2>
            <h5 class="first-text">- Joy Rogan</h5>
            <p class="text-secondary">
              &ensp;&nbsp; Advisor, Infrastructure Manager
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- satyog explained -->
    <h1 class="text-center fw-bold first-text my-3">
      <img class="mini-logo" src="../imgs/logo.svg" />Seven Yoga Of Satyogi
    </h1>

    <div class="yoga7-collection position-relative">
      <div class="row mx-3">
        <div class="col-lg-3 col-md-3 col-sm-12 text-center">
          <img g class="w-50 m-auto" src="../imgs/7vinAsna.webp" />
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12">
          <h5>Vinyasa yoga</h5>
          <p>
            Vinyasa means "to place in a special way" and, in this case, yoga
            postures. Vinyasa yoga is often considered the most athletic yoga
            style, and was adapted from ashtanga yoga in the 1980s. Many types
            of yoga can also be considered "vinyasa flows," such as ashtanga,
            power yoga, and prana.
          </p>
        </div>
      </div>
      <div class="row mx-3">
        <div class="col-lg-3 col-md-3 col-sm-12 text-center">
          <img g class="w-75 m-auto" src="../imgs/2hataAsna.png" />
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12">
          <h5>Hatha yoga</h5>
          <p>
            The Sanskrit term "hatha" is an umbrella term for all physical
            postures of yoga. In the West, hatha yoga simply refers to all the
            other styles of yoga (ashtanga, Iyengar, etc.) that are grounded in
            a physical practice.
          </p>
        </div>
      </div>
      <div class="row mx-3">
        <div class="col-lg-3 col-md-3 col-sm-12 text-center">
          <img g class="w-75 m-auto" src="../imgs/6yinAsna.png" />
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12">
          <h5>Yin yoga</h5>
          <p>
            Vinyasa means "to place in a special way" and, in this case, yoga
            postures. Vinyasa yoga is often considered the most athletic yoga
            style, and was adapted from ashtanga yoga in the 1980s. Many types
            of yoga can also be considered "vinyasa flows," such as ashtanga,
            power yoga, and prana.
          </p>
        </div>
      </div>
      <div class="row mx-3">
        <div class="col-lg-3 col-md-3 col-sm-12 text-center">
          <img g class="w-75 m-auto" src="../imgs/5restorAsna.png" />
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12">
          <h5>Restorative yoga</h5>
          <p>
            Restorative yoga focuses on winding down after a long day and
            relaxing your mind. At its core, this style focuses on body
            relaxation. Restorative yoga also helps to cleanse and free your
            mind.
          </p>
        </div>
      </div>
      <div class="row mx-3">
        <div class="col-lg-3 col-md-3 col-sm-12 text-center">
          <img g class="w-50 m-auto" src="../imgs/1AnusAsna.png" />
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12">
          <h5>Anusara yoga</h5>
          <p>
            Anusara is a modern-day version of hatha yoga, most similar to
            vinyasa in that it focuses on alignment, but with more emphasis on
            the mind-body-heart connection. It was founded by John Friend who
            created a unique system called the Universal Principals of Alignment
          </p>
        </div>
      </div>
      <div class="row mx-3">
        <div class="col-lg-3 col-md-3 col-sm-12 text-center">
          <img g class="w-50 m-auto" src="../imgs/3jivaAsna.png" />
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12">
          <h5>Jivamukti yoga</h5>
          <p>
            Jivamukti is mainly vinyasa-flow-style classes infused with Hindu
            spiritual teachings. At its core, this style emphasizes connection
            to Earth as a living being, so most Jivamukti devotees follow a
            vegetarian philosophy.
          </p>
        </div>
      </div>
      <div class="row mx-3">
        <div class="col-lg-3 col-md-3 col-sm-12 text-center">
          <img g class="w-50 m-auto" src="../imgs/4kundaliniAsna.png" />
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12">
          <h5>Kundalini yoga</h5>
          <p>
            Kundalini yoga practice is equal parts spiritual and physical. This
            style is all about releasing the kundalini energy in your body said
            to be trapped, or coiled, in the lower spine.
          </p>
        </div>
      </div>
      <img class="lotus-bg" src="../imgs/lotus.svg" />
    </div>
    <div class="justify-content-center my-3 d-flex">
      <img class="w-25" src="../imgs/hr.svg" />
      <img class="mini-logo" src="../imgs/logo.svg" />
      <img class="w-25" src="../imgs/hr.svg" />
    </div>
    <!-- footer -->
    <footer
      class="d-flex flex-wrap justify-content-between align-items-center py-2 border-top pe-3"
    >
      <div class="col-md-4 d-flex align-items-center">
        <a
          href="/"
          class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1"
        >
          <svg class="bi" width="30" height="24">
            <use xlink:href="#bootstrap"></use>
          </svg>
        </a>
        <span class="text-muted">© 2024 Satrangi Yoga</span>
      </div>
      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3">
          <a class="text-muted" href="#"><i class="bi bi-facebook"></i> </a>
        </li>
        <li class="ms-3">
          <a class="text-muted" href="#"><i class="bi bi-instagram"></i> </a>
        </li>
        <li class="ms-3">
          <a class="text-muted" href="#"><i class="bi bi-whatsapp"></i> </a>
        </li>
      </ul>
    </footer>
  </body>
</html>
